<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <title>Charity Theme Product List View </title>
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="js/mq.js"></script>
    <![endif]-->
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="viewport" content="width=device-width">
    <!-- Css Files Start -->
    <link href="css/style.css" rel="stylesheet" type="text/css" /><!-- All css -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" /><!-- Bootstrap Css -->
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="css/customIE.css" /><![endif]-->
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css" /><!-- Font Awesome Css -->
    <link href="css/font-awesome-ie7.css" rel="stylesheet" type="text/css" /><!-- Font Awesome iE7 Css -->
    <!-- Css Files End -->
    <!-- Social Icons no JS -->

    <noscript>
        <link rel="stylesheet" type="text/css" href="css/nj.css" />
    </noscript>
    <!-- Social Icons no JS -->

    <!-- Color Switcher -->
    <link href="css/switcher.css" rel="stylesheet" type="text/css" />
    <!--Skin -->
    <link rel="stylesheet" id="skins" href="css/default.css" type="text/css" media="all">
    <!-- skins -->
    <!-- end of Color Switcher -->

</head>
<body>
<!-- Start Main Wrapper -->
<div class="wrapper">
<!-- Start of Header -->
<!-- End of Header -->
<!-- Title & BreadCrumbs -->
<section class="mtop">
    <section class="container-fluid container">
        <section class="row-fluid">
            <section id="donation_box">
                <section class="container container-fluid">
                    <section class="row-fluid">
                        <div class="span8 first"> <h2> Les entreprises </h2> </div>

                    </section>
                </section>
            </section>		<!-- end of Page Title -->
        </section>
    </section>
</section>
<!-- End of Tile & Breadcrumbs -->
<br>
<!-- Page Content Container -->
<section id="content" class="mbtm product_grid">
<section class="container-fluid container">

<section class="row-fluid">

<section class="span9 product_view" id="product_list">


    <Section class="product_list_holder" >

        <figure class="span12 first product" ng-repeat="company in companies">

            <div class="product_img span4 first">
                <img src="{{company.image}}" alt="Product Image" />
                <span class="sale_icon"></span>
            </div>
            <div class="span8 product_description">
                <h3> <a data-ui-sref="company({id: company.id})"> {{company.name}} </a> </h3>
                <p> {{company.description}} </p>
                <a data-ui-sref="company({id: company.id})" class="btn pull-right" > En savoir plus</a>
            </div>

        </figure>

</section>





</section>
</section>

</section>
<!-- Page Content Container -->

<!-- Start of Footer -->
<!-- End of Footer -->
</div>
<!-- End Main Wrapper -->
<!-- JS Files Start -->
<script type="text/javascript" src="js/lib-1-9-1.js"></script><!-- lib Js -->
<script type="text/javascript" src="js/lib-1-7-1.js"></script><!-- lib Js -->
<script type="text/javascript" src="js/modernizr.js"></script><!-- Modernizr -->
<script type="text/javascript" src="js/easing.js"></script><!-- Easing js -->
<script type="text/javascript" src="js/bootstrap.js"></script><!-- Bootstrap -->
<script type="text/javascript" src="js/bxslider.js"></script><!-- BX Slider -->
<script type="text/javascript" src="js/clearInput.js"></script><!-- Input Clear -->
<script type="text/javascript" src="js/smooth-scroll.js"></script><!-- smooth Scroll -->
<script type="text/javascript" src="js/prettyPhoto.js"></script><!-- Pretty Photo -->
<script type="text/javascript" src="js/social.js"></script><!-- Social Media Hover Effect -->
<script type="text/javascript" src="js/countdown.js"></script><!-- Event Counter -->
<script type="text/javascript" src="js/custom.js"></script><!-- Custom / Functions -->
<!--[if IE 8]>
<script src="js/ie8_fix_maxwidth.js" type="text/javascript"></script>
<![endif]-->

<!-- switcher files -->
<script type="text/javascript" src="js/cookie.js"></script>
<script type="text/javascript" src="js/colorswitcher.js"></script>
<!-- switcher files -->
<!--switcher contianer--> <div class="switcher"></div> <!--switcher container -->


</body>
</html>