
<!-- Start Main Wrapper -->
<div class="wrapper">
<!-- Start of Header -->

<!-- Title & BreadCrumbs -->
<section class="mtop">
    <section class="container-fluid container">
        <section class="row-fluid">
            <section id="donation_box">
                <section class="container container-fluid">
                    <section class="row-fluid">
                        <div class="span8 first"> <h2> {{company.name}}</h2> </div>

                    </section>
                </section>
            </section>		<!-- end of Page Title -->
        </section>
    </section>
</section>
<!-- End of Tile & Breadcrumbs -->
</br>
<!-- Page Content Container -->
<section id="content" class="mbtm fund_rasising_listing">
<section class="container-fluid container">

<section class="row-fluid">

<section class="span9 fund_project_detail" id="fund_project_detail">


    <h3 style="text-align: center"> Derniers challenges </h3>

        <figure class="span3 first outer_lyr">

        <img ng-src="{{company.image}}" alt="Logo" />

    </figure>
    <figure class="span3 second outer_lyr" id="category_image" ng-repeat="challenge in challenges|limitTo:3">

        <a data-ui-sref="app.challenge({id: challenge.id})"><img src="{{challenge.image}}" alt="{{challenge.name}}" /></a>

    </figure>

    <br>
    <figure class="span12 first outer_lyr" id="project_contet">

        <div class="inner_lyr">
            <h3> Qui sommes-nous ?</h3>
            <p> {{company.description}}</p>
        </div>
    </figure>


</section>

<section id="sidebar" class="span3">


    <figure class="widget events">

        <h3> <i class="icon-bullhorn"></i> Dernières donations</h3>


    </figure>



</section>

</section>
</section>

</section>
<!-- Page Content Container -->
    <ul id="posts">

        <li ng-repeat="donation in company.donations|limitTo:6" >

            <div class="img span4 first"> <img src="{{donation.image}}" alt="recent Event Image" /> </div>

            <div class="post_content span8">
                <h4> <a href="crowdfunding_detail.html#" title="post Title"> {{donation.mission.name}} </a> </h4>
                <div class="location_date"> <span> {{donation.amount}}€</span></div>
            </div>
        </li>
    </ul>
<!-- Start of Footer -->
<!-- End of Footer -->
</div>
<!-- End Main Wrapper -->


</body>
</html>