<footer id="footer" class="mtp">

    <!-- Start of Footer 1 -->
    <section class="footer_1">
        <section class="container-fluid container">
            <section class="row-fluid">
                <section id="banner" class="span12 first">
                    <div class="inner">
                        <div class="span9">
                            <h2> Free shipping on all orders over $75 </h2>
                            <h3> * FREE OVER $125 for international orders </h3>
                        </div>
                        <div class="pull-left span3">
                            <div id="banner_rounded" class="img-circle">
                                <h3>	DELIVERED TO YOUR DOOR IN <span> 3 days </span> </h3> </div>
                        </div>
                    </div>
                </section>

            </section>
        </section>
    </section>
    <!-- End of Footer 1 -->



</footer>