<header>
    <!-- Start Main Header -->
    <section class="top_bar">
        <section class="container-fluid container">
            <section class="row-fluid">
                <article class="span6">
                    <ul class="details">
                        <li><i class="icon-map-marker"> </i> 67400 Illkirch-Graffenstaden</li>
                        <li><i class="icon-mobile-phone"> </i> 03 69 20 02 30</li>
                        <li><i class="icon-envelope-alt"> </i> contact@sharity.com</li>
                    </ul>
                </article>
                <article class="span4 offset2">
                    <ul class="social">
                        <li> <a href="javascript:;" class="s7"> Youtube</a> </li>
                        <li> <a href="javascript:;" class="s5"> Twitter</a> </li>
                        <li> <a href="javascript:;" class="s4"> RSS </a> </li>
                        <li> <a href="javascript:;" class="s1"> Facebook</a> </li>
                    </ul>
                </article>
            </section>
        </section>
    </section>

    <section class="logo_container">
        <section class="container-fluid container">
            <section class="row-fluid">
                <section class="span4">
                    <h1 id="logo">
                        <a href="index.html">
                            <img src="/images/logo.png" alt="Be Human" />
                        </a>
                    </h1>
                </section>

                <section class="span5 pull-right">
                    <figure class="charity_counter_wrapper">
                        <section class="span5">
                            <div class="charity_title">
                                Charity <br /> Marathon 2013
                            </div>
                        </section>
                        <section class="span1 event_more pull-right"> <a href="event_detail.html"  data-placement="bottom" data-rel="tooltip" title="View Event Detail" > <i class="icon">+</i>  </a> </section>

                    </figure>
                </section>

            </section>
        </section>
    </section>
    <!-- Main Nav Bar -->
    <nav id="nav">
        <section class="container-fluid container">
            <section class="row-fluid">
                <div class="navbar navbar-inverse">
                    <div class="navbar-inner">
                        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                        <div class="nav-collapse collapse">
                            <ul class="nav">

                                <li class="active"> <a data-ui-sref="index"> Accueil</a> </li>

                                <li> <a data-ui-sref=""> ONG</a> </li>

                                <li> <a data-ui-sref="allCompanies"> Entreprises</a> </li>

                                <li> <a data-ui-sref="allChallenges"> Défis en cours</a> </li>

                                <li> <a href="javascript:;"> Défis terminés</a> </li>

                                <li> <a href="mailto:contact@sharity.com"> Contact </a> </li>
                            </ul>
                        </div>
                        <!--/.nav-collapse -->
                    </div>
                    <!-- /.navbar-inner -->
                </div>
                <div class="nav_search pull-right"> <form method="post" action="index.html#"> <input type="text" value="Rechercher..." name="s" id="s" /> <button><i class="icon-search"></i> </button></form></div>
                <!-- /.navbar -->
            </section>
        </section>
    </nav>
    <!-- End Main Nav Bar -->
</header>