<!-- Start of Header Banner -->
<section class="banner_slider mbtm">
    <ul id="banner_slider">

        <li>
            <img src="images/t_slider_1.jpg" alt="Banner Slider" />
            <div class="slider_content">
                <p class="b_dark"> Réalisez des défis</p>
                <span class="clear"></span>
                <p class="b_green"> et contribuez à un monde meilleur !</p>
            </div>
        </li>
<!--
        <li>
            <img src="images/t_slider_2.jpg" alt="Banner Slider" />
            <div class="slider_content">
                <p class="b_dark"> we need your support</p>
                <span class="clear"></span>
                <p class="b_green"> to educate, feed and accomodate!</p>
            </div>
        </li>
        <li>
            <img src="images/t_slider_3.jpg" alt="Banner Slider" />
            <div class="slider_content">
                <p class="b_dark"> we need your support</p>
                <span class="clear"></span>
                <p class="b_green"> to educate, feed and accomodate!</p>
            </div>
        </li>
        <li>
            <img src="images/t_slider_4.jpg" alt="Banner Slider" />
            <div class="slider_content">
                <p class="b_dark"> we need your support</p>
                <span class="clear"></span>
                <p class="b_green"> to educate, feed and accomodate!</p>
            </div>
        </li>
        <li>
            <img src="images/t_slider_5.jpg" alt="Banner Slider" />
            <div class="slider_content">
                <p class="b_dark"> we need your support</p>
                <span class="clear"></span>
                <p class="b_green"> to educate, feed and accomodate!</p>
            </div>
        </li>-->

    </ul>
</section>
<!-- End of Header Banner -->

<!-- Start of Features Boxes -->
<section id="ngo_features" class="mbtm">
    <section class="container-fluid container">
        <section class="row-fluid">
            <!-- Start of Features Box 1 -->
<!--            <figure class="span3 feature">
                <div class="ftr_img f-img-1">
                    <span class="img"> River Floods </span>
                </div>
                <div class="ftr_txt">
                    <strong> River Floods </strong>
                    <p> River floods prompta, mel ea sumo semper nusquam. Soluta intellegebat vim id, vix timeam latine electram at. </p>
                </div>
            </figure>-->
            <!-- End of Features Boxes 1 -->

            <!-- Start of Features Box 2 -->
            <figure class="span4 feature">
                <div class="ftr_img f-img-2">
                    <span class="img"> Particuliers </span>
                </div>
                <div class="ftr_txt">
                    <strong> Particuliers </strong>
                    <p> En réalisant de simples défis, vous contribuez à des oeuvres caritatives.</p>
                </div>
            </figure>
            <!-- End of Features Boxes 2 -->

            <!-- Start of Features Box 3 -->
            <figure class="span4 feature">
                <div class="ftr_img f-img-3">
                    <span class="img"> Entreprises  </span>
                </div>
                <div class="ftr_txt">
                    <strong> Entreprises</strong>
                    <p> Soutenez les organisations qui vous inspirent et augmentez votre notoriété à moindre coût. </p>
                </div>
            </figure>
            <!-- End of Features Boxes 3 -->

            <!-- Start of Features Box 4 -->
            <figure class="span4 feature">
                <div class="ftr_img f-img-4">
                    <span class="img"> Organisme </span>
                </div>
                <div class="ftr_txt">
                    <strong> ONG</strong>
                    <p> Bénificiez d'un large réseau d'entreprises et de particuliers pour financer vos missions et gagner du temps. </p>
                </div>
            </figure>
            <!-- End of Features Boxes 4 -->
        </section>
    </section>
</section>
<!-- End of Features Boxes -->



<!-- Start of Charity News & Progress Section -->
<section id="progress_news" class="mbtm">
    <section class="container-fluid container">
        <section class="row-fluid">

            <figure class="span4" id="charity_progress" ng-repeat="challenge in challenges| limitTo:3">
                <h3 style="padding:5px"> {{challenge.name}} </h3>
                <div id="charity_process_inner">
                    <div class="span5 img first">
                        <img ng-src="{{challenge.image}}" alt="Charity Hospital" />
                    </div>
                    <div class="span7 progress_report">
                        <h2> €{{challenge.amount}} </h2>
                        <h4> {{challenge.company.name}}</h4>
                        <div class="progress progress-striped active m9p">
                            <div class="bar p80"></div>
                        </div>
                        <br />
                        <div class="info">
                            <div class="span6 first">
                                <i class="icon-user"></i> <span> {{challenge.amount /4}} </span> Participants
                            </div>

                            <div class="span6 ntr">
                                <i class="icon-calendar-empty"></i> <span> {{challenge.amount / 20}} </span> Jours restants
                            </div>

                        </div>

                    </div>
                </div>
            </figure>

            <!--<figure class="span6" id="news">

                <ul id="news_slider">

                    <li>
                        <div class="span5 first img_holder">
                            <div class="img">
                                <img src="images/slider_2_img.jpg" alt="" />
                            </div>
                            <div class="img_title">
                                <a href="index.html#"> <i class="icon-plus"></i> </a>
                                <a href="index.html#"> Katrina  disasters </a>
                                <p> News about Katrina victams </p>
                            </div>
                        </div>
                        <div class="span7 ns_desc" >
                            <a href="index.html#" class="title"> City destroyed after devastating Katrina Floods  <span class="h-line"></span> </a>
                            <p> News of charity campaigns lorum prompta, mel ea sumo semper nusquam. Soluta intellegebat vim id, vix timeam latine electram at. mel ea sumo semper nusquam. Soluta intellegebat vim id, vix timeam latine electram at... </p>
                            <a href="index.html#" class="rm"> View All News &nbsp;  <i class="icon-plus"></i></a>
                        </div>
                    </li>


                    <li>
                        <div class="span5 first img_holder">
                            <div class="img">
                                <img src="images/slider_2_img.jpg" alt="" />
                            </div>
                            <div class="img_title">
                                <a href="index.html#"> <i class="icon-plus"></i> </a>
                                <a href="index.html#"> Katrina  disasters </a>
                                <p> News about Katrina victams </p>
                            </div>
                        </div>
                        <div class="span7 ns_desc" >
                            <a href="index.html#" class="title"> City destroyed after devastating Katrina Floods  <span class="h-line"></span> </a>
                            <p> News of charity campaigns lorum prompta, mel ea sumo semper nusquam. Soluta intellegebat vim id, vix timeam latine electram at. mel ea sumo semper nusquam. Soluta intellegebat vim id, vix timeam latine electram at... </p>
                            <a href="index.html#" class="rm"> View All News &nbsp;   <i class="icon-plus"></i></a>
                        </div>
                    </li>


                </ul>

            </figure>-->

        </section>
    </section>
</section>
<!-- End of Charity News & Progress Section -->
