<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <title>Charity Theme Fund Raising Project Detail</title>
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="js/mq.js"></script>
    <![endif]-->
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="viewport" content="width=device-width">
    <!-- Css Files Start -->
    <link href="css/style.css" rel="stylesheet" type="text/css" /><!-- All css -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" /><!-- Bootstrap Css -->
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="css/customIE.css" /><![endif]-->
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css" /><!-- Font Awesome Css -->
    <link href="css/font-awesome-ie7.css" rel="stylesheet" type="text/css" /><!-- Font Awesome iE7 Css -->
    <!-- Css Files End -->
    <!-- Social Icons no JS -->

    <noscript>
        <link rel="stylesheet" type="text/css" href="css/nj.css" />
    </noscript>
    <!-- Social Icons no JS -->

    <!-- Color Switcher -->
    <link href="css/switcher.css" rel="stylesheet" type="text/css" />
    <!--Skin -->
    <link rel="stylesheet" id="skins" href="css/default.css" type="text/css" media="all">
    <!-- skins -->
    <!-- end of Color Switcher -->


</head>
<body>
<!-- Start Main Wrapper -->
<div class="wrapper">
    <!-- Start of Header -->

    <!-- Title & BreadCrumbs -->
    <section class="mtop">
        <section class="container-fluid container">
            <section class="row-fluid">
                <section id="donation_box">
                    <section class="container container-fluid">
                        <section class="row-fluid">
                            <div class="span8 first"> <h2> {{company.name}}</h2> </div>

                        </section>
                    </section>
                </section>		<!-- end of Page Title -->
            </section>
        </section>
    </section>
    <!-- End of Tile & Breadcrumbs -->
    </br>
    <!-- Page Content Container -->
    <section id="content" class="mbtm fund_rasising_listing">
        <section class="container-fluid container">

            <section class="row-fluid">

                <section class="span9 fund_project_detail" id="fund_project_detail">

                    <figure class="span3 first outer_lyr">

                        <img src="{{company.image}}" alt="Logo" />

                    </figure>
                    <h3 style="text-align: center"> Derniers challenges </h3>
                    <figure class="span3 second outer_lyr" id="category_image" ng-repeat="challenge in challenges|limitTo:3">

                        <a data-ui-sref="app.challenge({id: challenge.id})"><img src="{{challenge.image}}" alt="{{challenge.name}}" /></a>

                    </figure>

                    <br>
                    <figure class="span12 first outer_lyr" id="project_contet">

                        <div class="inner_lyr">
                            <h3> Qui sommes-nous ?</h3>
                            <p> {{company.description}}</p>
                        </div>
                    </figure>


                </section>

                <section id="sidebar" class="span3">


                    <figure class="widget events">

                        <h3> <i class="icon-bullhorn"></i> Dernières donations</h3>


                    </figure>



                </section>

            </section>
        </section>

    </section>
    <!-- Page Content Container -->
    <ul id="posts">

        <li ng-repeat="donation in company.donations|limitTo:6" >

            <div class="img span4 first"> <img src="{{donation.image}}" alt="recent Event Image" /> </div>

            <div class="post_content span8">
                <h4> <a href="crowdfunding_detail.html#" title="post Title"> {{donation.mission.name}} </a> </h4>
                <div class="location_date"> <span> {{donation.amount}}€</span></div>
            </div>
        </li>
    </ul>
    <!-- Start of Footer -->
    <!-- End of Footer -->
</div>
<!-- End Main Wrapper -->
<!-- JS Files Start -->
<script type="text/javascript" src="js/lib-1-9-1.js"></script><!-- lib Js -->
<script type="text/javascript" src="js/lib-1-7-1.js"></script><!-- lib Js -->
<script type="text/javascript" src="js/modernizr.js"></script><!-- Modernizr -->
<script type="text/javascript" src="js/easing.js"></script><!-- Easing js -->
<script type="text/javascript" src="js/bootstrap.js"></script><!-- Bootstrap -->
<script type="text/javascript" src="js/bxslider.js"></script><!-- BX Slider -->
<script type="text/javascript" src="js/clearInput.js"></script><!-- Input Clear -->
<script type="text/javascript" src="js/smooth-scroll.js"></script><!-- smooth Scroll -->
<script type="text/javascript" src="js/prettyPhoto.js"></script><!-- Pretty Photo -->
<script type="text/javascript" src="js/social.js"></script><!-- Social Media Hover Effect -->
<script type="text/javascript" src="js/countdown.js"></script><!-- Event Counter -->
<script type="text/javascript" src="js/custom.js"></script><!-- Custom / Functions -->
<!--[if IE 8]>
<script src="js/ie8_fix_maxwidth.js" type="text/javascript"></script>
<![endif]-->

<!-- switcher files -->
<script type="text/javascript" src="js/cookie.js"></script>
<script type="text/javascript" src="js/colorswitcher.js"></script>
<!-- switcher files -->
<!--switcher contianer--> <div class="switcher"></div> <!--switcher container -->


</body>
</html>